@charset "UTF-8";

@font-face {
	font-family: 'Arial_-pt_BR';
	src: local('☺'),
		url('/RelatoriosPRE/reportresource/reportresource/fonts/Arial/arial.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Arial_-pt_BR';
	src: local('☺'),
		url('/RelatoriosPRE/reportresource/reportresource/fonts/Arial/arialbd.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Arial_-pt_BR';
	src: local('☺'),
		url('/RelatoriosPRE/reportresource/reportresource/fonts/Arial/ariali.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Arial_-pt_BR';
	src: local('☺'),
		url('/RelatoriosPRE/reportresource/reportresource/fonts/Arial/arialbi.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

